.list-group-item button#editbtn {
    padding-right: 0px;
}

.list-group-item input#userphone {
    max-width: 7rem;
}

.list-group-item input#userphone {
    outline: none;
}

.list-group-item input.error {
    outline: red auto 1px !important;
}

ul#EL {
    list-style-type: none;
    text-align: left;
    margin-left: 26vw;
}

.input-group-text {
    width: 118px !important;
}
